<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Izin kamera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScanQr">
        <activity
            android:name=".LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".CollectionActivity"
            android:exported="false" />
        <activity
            android:name=".BorrowActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryBooksActivity"
            android:exported="false" />
        <activity
            android:name=".ManageCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".ManageBorrowsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageUserActivity"
            android:exported="false" />
        <activity
            android:name=".ManageBooksActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".GenerateQrCode"
            android:exported="false" />
        <activity
            android:name=".book_detail_activity"
            android:exported="false" />
        <activity android:name=".ScanActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>